/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Base
*/

html {
    font-size: 62.5%;
}

* {
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
Box Model
*/

* {
    box-sizing: border-box;
}

/*ALL VIEWPORTS*/

/*
Header Layout
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburgerIconContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
}

.hamburgerIconContainer img {
    width: 100%;
}

nav {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    gap: 3%;
}

.navLogoContainer,
.headerContactInfo {
    flex-shrink: 0;
}

.headerText {
    padding: 2px 2%;
}

.navLogoContainer {
    width: 200px;
}

nav img {
    width: 100%;
}

.headerContactInfo {
    display: flex;
    padding: 0;
}

/*
Header Break Point: stack contact info below 1045px. column contact info below 
*/

@media screen and (min-width: 1045px) {

    header {
        padding: 5px 5%;
        gap: 2%;
    }

    .headerContactInfo {
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 1044px) {

    header {
        flex-direction: column;
        gap: 5px;
    }

    nav,
    .headerContactInfo {
        padding: 5px 5%;
    }

    nav {
        width: 100%;
    }

    .headerContactInfo {
        width: 100%;
    }
}

@media screen and (max-width: 1044px) and (min-width: 450px) {

    .headerContactInfo {
        gap: 20px;
    }
}

@media screen and (max-width: 450px) {

    .headerContactInfo {
        flex-direction: column;
        gap: 7px;
    }
}

/*
Header Break Point: Hamburger Nav below 750px
*/

@media screen and (min-width: 750px) {

    .hamburgerIconContainer {
        visibility: hidden;
    }
}

@media screen and (max-width: 749px) {

    body {
        margin-top: 80px;
    }

    header {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .hideNavLink {
        visibility: hidden;
        display: none;
    }
}

/*
Header Break Point: increase body margin when header becomes fixed and when contact info column
*/

@media screen and (max-width: 749px) and (min-width: 450px) {

    body {
        margin-top: 94px;
    }
}

@media screen and (max-width: 450px) {

    body {
        margin-top: 121px;
    }
}

/*
Main Layout
*/

main > section {
    padding: 20px 5%;
}


/*
Intro Section Layout
*/

.introSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*
Intro Section Break Point: stack below 1140px
*/

@media screen and (min-width: 1140px) {

    .sliderSection {
        width: 45%;
    }

    .theBrakeStoreSection {
        width: 55%;
    }
}

@media screen and (max-width: 1139px) {

    .introSection {
        flex-direction: column;
    }
}

@media screen and (max-width: 1139px) and (min-width: 500px) {

    .sliderSection {
        width: 80%;
    }  
    
    .theBrakeStoreSection {
        width: 80%;
    }
}

/*
Intro Break Point: reduce padding below 500px
*/

@media screen and (max-width: 499px) {

    .sliderSection,
    .theBrakeStoreSection {
        width: 100%;
    }

    .sliderSection {
        padding-left: 1%;
        padding-right: 1%;
    }

    .theBrakeStoreSection {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/*
Slider Section Layout
*/

.sliderContainer {
    position: relative;
    height: 0;
    /* 2/3 (wallet size pictures) = result 
    if size of section containing this element changes, this changes*/
    padding-bottom: 66.6666%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide img {
    position: absolute;
    width: 100%;
}

.slideTextContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slideTextContainer h2 {
    max-width: 60%;
    margin: 0;
}

.sliderControls {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40%;
}

.sliderArrowContainer {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
}

.sliderArrow {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
}

.slideButtonContainer {
    display: flex;
    justify-content: center;
    gap: 1%;
    padding-bottom: 5px;
}

.slideButton {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/*
Slider Break Point: hide below 300px
*/

@media screen and (max-width: 359px) {

    .sliderSection {
        visibility: hidden;
        display: none;
    }
}

@media screen and (min-width: 360px) {

    /*
    Slider Section Style
    */

    .sliderContainer {
        color: white;
    }

    .slideTextContainer h2 {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .sliderArrow {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .slideButton {
        background-color: white;
    }

    .slideButton:hover {
        background-color: gray;
    }

    .slide {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    .hideSlide {
        opacity: 0;
    }
}

/*
theBrakeStore Section Layout
*/

.theBrakeStoreSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

.theBrakeStoreSection h1 span {
    display: block;
    text-align: left;
}


.shopButton {
    padding: 10px 20px;
}

/*
theBrakeStore Section Break Point: reduce p width, and add padding above 1140px
*/

@media screen and (min-width: 1140px) {

    
    .theBrakeStoreSection p {
        max-width: 700px;
    }
}

/*
About Brakes Section Layout
*/

/*
About Brakes Paragraph Break Point: set p max-width
*/
@media screen and (min-width: 1400px) {
    .aboutBrakesSection p {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
About Us Section Layout
*/

.aboutUsContentContainer {
    display: flex;
    align-items: center;
    gap: 2%;
}

.brakeBoxImgContainer img {
    width: 100%;
}

/*
About Us Section Break Point: stack img below 800px and increase size
*/

@media screen and (min-width: 800px) {

    .aboutUsContentContainer {
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }

    .aboutUsTextContainer {
        width: 50%;
    }
    
    .brakeBoxImgContainer {
        width: 50%;
    }
}

@media screen and (max-width: 799px) {

    .aboutUsContentContainer {
        flex-direction: column;
    }

    .brakeBoxImgContainer {
        width: 70%;
    }
}

/*
Commercial Brakes Section Layout
*/

.commercialBrakesContentContainer {
    display: flex;
    align-items: center;
    gap: 2%;
    padding-bottom: 20px;
}

/*
Commercial Brakes Section Break Point: stack img below 1200px and increase size
*/

@media screen and (min-width: 1200px) {

    .commercialBrakesContentContainer {
        max-width: 1200px;
        margin: auto;
    }

    .commercialBrakesContentContainer p {
        width: 40%;
    }
    
    .commercialBrakesContentContainer img {
        width: 60%;
    }
}

@media screen and (max-width: 1199px) {

    .commercialBrakesContentContainer {
        flex-direction: column;
    }

    .commercialBrakesContentContainer img {
        width: 100%;
    }
}

/*
Popular Models Layout
*/

.popularModelsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.popularModelsSection p {
    max-width: 1200px;
    margin: auto;
}

.popularModelsDisplay {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.individualModelDisplay {
    padding: 1% 1% 0 1%;
}

.individualModelDisplay h3 {
    margin-bottom: 0;
    padding: 0;
}

.individualModelContentContainer {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-top: 10px;
}

.individualModelContentContainer img {
    width: 50%;
}

/*
Popular Models Break Point: increase individual display size below 500px
*/

@media screen and (min-width: 500px) {

    .individualModelDisplay {
        width: 50%;
    }
}

@media screen and (max-width: 499px) {

    .individualModelDisplay {
        width: 100%;
    }
}

/*
Footer Layout
*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 5%;
}

.footerAddressContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.mapContainer {
    position: relative;
}

.mapContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
Footer Break Point: increase address and map proportions below 953px and again below 760px
*/

@media screen and (min-width: 953px) {

    .mapContainer {
        width: 50%;
        /* 3/4 * 50% width = result (37.5%), but it is intentionally shorter */
        padding-top: 25%;
    }

    .contactInfoContainer {
        width: 40%;
    }
}

@media screen and (max-width: 952px) {

    .mapContainer {
        width: 50%;
        /* 3/4 * 50% width = result (37.5%), but it is intentionally shorter */
        padding-top: 30%;
    }

    .contactInfoContainer {
        width: 50%;
    }
}

@media screen and (max-width: 759px) {

    .mapContainer {
        width: 50%;
        /* 3/4 * 50% width = result (37.5%) */
        padding-top: 37.5%;
    }

    .contactInfoContainer {
        width: 50%;
    }
}

/*
Footer Break Point: map stacks below 720px
*/

@media screen and (min-width: 720px) {

    .footerAddressContainer {
        justify-content: space-between;
        gap: 3%;
    }
}

@media screen and (max-width: 720px) {

    .footerAddressContainer {
        flex-direction: column;
        gap: 20px;
    }

    .mapContainer {
        width: 100%;
        /* 3/4 * 100% width = result (75%), but it is intentionally shorter */
        padding-top: 40%;
    }

    .contactInfoContainer {
        width: 100%;
    }
}


/*
Common Style
*/

h1,
h2,
h3,
p,
.headerText {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.8rem;
}


/*
Header and Footer Style
*/

header,
footer {
    background-color: #dce1e4;
}

header {
    border-bottom: 1px black solid;
}

.hamburgerIconContainer {
    border: 2px solid black;
}

nav {
    font-size: 2.5rem;
}

nav a:hover {
    color: darkred;
}

.headerContactInfo {
    font-size: 2rem;
}

/*
Header Break Point: contact info stacks and colors change
*/

@media screen and (max-width: 1044px) {

    .headerContactInfo {
        background-color: darkred;
        color: #e8ebed;
    }
}

footer {
    border-top: 1px black solid;
}

.contactInfoContainer {
    font-size: 2rem;
}

.mapContainer {
    border: 1px solid black;
}

/*
Main Style
*/

.introSection,
.aboutUsSection,
.popularModelsSection {
    background-color: #f4f4f6;
}

.shopButton {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #8b0000;
    color: white;
    font-size: 2rem;
}

.shopButton:hover {
    background-color: #b10000;
}

.aboutBrakesSection,
.commercialBrakesSection {
    background-color: #e8ebed;
}

.individualModelDisplay {
    border: 1px black solid;
    background-color: white;
}